<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urdu Fake News Detection</title>
  <link href="/static/search.css" rel="stylesheet">
 
{% block Head %}{% endblock %}

</head>
<body>
  {% block body %}
  {% endblock %}
  <div class="container">
    <div clas='img'>
      <img src="/static/search.jpg" alt="">
    </div>
    <div class='form'>
      <h2> Search the News</h2>
      <form action="" method="POST">
        <input type="link" placeholder='Search News'>
        <div class='check'>
          
        <button type="submit" ><strong>Check News</strong></button>
      </form>
    </div>
  </div>
</body>
</html>